* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'proxima-nova', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #555;
    line-height: 1em;
    font-size: 16px;
}

hr {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5{
    font-weight: 700;
}

h2 {
    font-size: 28px;
    line-height: 1.1em;
    margin-bottom: 10px;
}

p {
    margin: 0.85em 0;
    line-height: 1.65em;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    margin-top: 1.5em;
}

a {
    color: #90bb01;
    text-decoration: none;
}

a:hover {
    color: #A5D300;
    text-decoration: underline;
}

img {
    width: auto;
    max-width: 100%;
}

blockquote {
    border-left: 7px solid #90bb01;
    padding-left: 20px;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #ababab;
}

.hidden {
    display: none;
}

/* Navigation bar */
.nav-content {
    display: flex;
    background: #424242;
    height: 60px;
}

.nav-content .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 60px;
}

.nav-content .home h1 {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.nav-content ul.languages {
    display: flex;
    align-items: center;
}

.nav-content ul.languages li {
    list-style: none;
}

.nav-content ul.languages li:after {
    content: " /";
    color: #666;
    padding-right: 2px;
}

.nav-content ul.languages li:last-child::after {
    content: none;
}

.nav-content ul.languages li a {
    color: #fff;
    font-size: 14px;
}

.nav-content ul.languages li a.selected {
    color: #90bb01;
}

/* Burger menu for mobile */
.menu
{
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menu input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}

.menu span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu span:first-child
{
  transform-origin: 0% 0%;
}

.menu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.menu input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.menu ul
{
  position: absolute;
  width: 75vw;
  height: 100vh;
  margin: -100px 0 0 -60vw;
  padding-top: 125px;
  
  background: #424242;
  border-left: 1px solid #ddd;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu ul li a {
  display: block;
  padding: 20px 15px 20px 25px;
  color: #fff;
  background: #424242;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.menu ul li a:hover {
    background-color: #a9d42a;
    text-decoration: none;
}

.menu input:checked ~ ul
{
  transform: none;
}

/* Post styles */
.post {
    margin: 30px;
}

.post iframe {
    width: 100%;
}

.post-info {
    position: relative;
}

.post-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.post-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191919;
    opacity: 0.5;
}

.post-meta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-meta-content {
    text-align: center;
    padding: 0 30px;
}

.post-meta-content {
    color: #fff;
}

.post-meta-content h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.6em;
    font-weight: 500;
    font-size: 40px;
}

.post ul, ol {
    margin-left: 40px;
    margin-bottom: 40px;
}

.post ul li, .post ol li {
    line-height: 2em;
}

.highlight pre {
    padding: 15px;
    border: 1px solid #eaeaea;
    overflow: auto;
}

/* "Enlighten your network" section */
.share-container {
    padding: 0 30px;
}

ul.share-buttons {
    list-style: none;
    border: 1px solid #000;
    border-radius: 3px;
    display: flex;
    margin: 30px auto 0 auto;
}

.share-buttons li {
    flex-grow: 1;
    border-left: 1px solid #eaeaea;
    text-align: center;
    line-height: 1em;
}

.share-buttons li:first-child {
    border: none;
}

.share-buttons li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.share-buttons .icon:hover {
    color: #fff;
}

.share-buttons .icon.facebook:hover {
    background-color: #37589b;
}

.share-buttons .icon.twitter:hover {
    background-color: #46d4fe;
}

.share-buttons .icon.linkedin:hover {
    background-color: #419cca;
}

.share-buttons .icon.email:hover {
    background-color: #9fae37;
}

/* "Stories and insights" section */
.posts-listing-container {
    margin-top: 40px;
    padding: 40px 30px 0 30px;
    border-top: 1px solid #eaeaea;
}

.posts-listing-title {
    text-align: center;
}

.posts-listing {
    margin-top: 30px;
}

.posts-listing figure {
    background-color: #fafafa;
}

.posts-listing .image {
    width: 100%;
    height: 175px;
    background-position: center center;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-size: cover;
}

.posts-listing .image:hover {
    /* TODO: Zoom background effect */
}

.posts-listing figcaption {
    padding: 20px;
}

.posts-listing figcaption p {
    margin: 10px 0 0 0;
    line-height: 1em;
}

.posts-listing a, .posts-listing a:hover {
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #555;
}

.posts-listing h3 {
    font-size: 15px;
    text-align: left;
}

.posts-listing p {
    color: #ababab;
    font-size: 11px;
    text-align: left;
}

/* Footer */
footer {
    background-color: #222;
    margin-top: 50px;
    padding: 10px 30px 30px 30px;
}

.footer-content .column h3 {
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1em;
}

.footer-content .column p {
    font-size: 16px;
    margin: 10px 0 0 0;
    color: #ddd;
}

ul.social-buttons {
    list-style: none;
    display: flex;
    margin: 10px 0 0 0;
}

.social-buttons li {
    padding-left: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    top: 0;
}

.social-buttons li:first-child {
    padding-left: 0;
}

.social-buttons li:hover {
    top: -5px;
}

.social-buttons li a {
    display: block;
    width: 32px;
    height: 32px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.social-buttons .glyph {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 20px;
}

.social-buttons .glyph:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.social-buttons li a:hover {
    text-decoration: none;
}

.social-buttons .facebook {
    background-color: #415A95;
}

.social-buttons .twitter {
    background-color: #3BA1EE;
}

.social-buttons .linkedin {
    background-color: #2377B2;
}

.fb-page {
    margin-top: 40px;
    width: 100%;
}

/* Media queries */
@media(min-width: 550px) {
    .posts-listing {
        display: flex;
        flex-wrap: wrap;
    }

    .posts-listing figure {
        flex-grow: 0;
        width: 50%;
    }
    
    .posts-listing-title {
        font-size: 28px;
    }
    
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-content .column {
        flex-grow: 0;
        width: 45%;
        overflow: hidden;
    }
}

@media(min-width: 750px) {
    body {
        font-size: 17px;
    }

   .post, .share-container {
       width: 700px;
       margin: 30px auto;
   }
}

@media(min-width: 850px) {
    .post-image {
        height: 400px;
    }

    .post-meta-content {
        padding: 0;
        width: 70%;
        margin: 0 auto;
    }

    .post-meta-content h1 {
        font-size: 72px;
    }

    .post {
        margin: 70px auto;
    }

    .posts-listing {
        width: 90%;
        margin: 30px auto;
    }

    .posts-listing figure {
        width: 33.3%;
    }

    .footer-content .column {
        width: 23%;
    }
}

@media(min-width: 1000px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        z-index: 5;
    }

    .content {
        margin-top: 60px;
    }

    .menu input, .menu span{
        display: none;
    }

    .menu {
        position: absolute;
    }

    .menu ul {
        position: relative;
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
    }

    .menu ul li {
        display: inline;
        margin-right: 30px;
    }

    .menu ul li:last-child {
        margin-right: 0;
    }

    .menu ul li a {
        display: inline;
        text-transform: none;
        font-size: 12px;
        padding: 0;
        transition: opacity 0.2s ease-in-out;
        -webkit-transition: opacity 0.2s ease-in-out;
        opacity: 1;
    }

    .menu ul li a:hover {
        background-color: transparent;
        opacity: 0.5;
    }

    .menu ul li a.selected {
        color: #a9d42a;
    }

    .posts-listing figure {
        width: 25%;
    }
}

/* Syntax highlighting */
/* hugo gen chromastyles --style=stylename > outputfile.css */
/* https://help.farbox.com/pygments.html for theme gallery. */

/* Background */ .chroma { background-color: #ffffff }
/* Error */ .chroma .ss4 { color: #ff0000; background-color: #ffaaaa }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .s3e8 { color: #008800; font-weight: bold }
/* KeywordPseudo */ .chroma .s3ec { color: #003388; font-weight: bold }
/* KeywordType */ .chroma .s3ee { color: #333399; font-weight: bold }
/* NameAttribute */ .chroma .s7d1 { color: #0000cc }
/* NameBuiltin */ .chroma .s7d2 { color: #007020 }
/* NameClass */ .chroma .s7d4 { color: #bb0066; font-weight: bold }
/* NameConstant */ .chroma .s7d5 { color: #003366; font-weight: bold }
/* NameDecorator */ .chroma .s7d6 { color: #555555; font-weight: bold }
/* NameEntity */ .chroma .s7d7 { color: #880000; font-weight: bold }
/* NameException */ .chroma .s7d8 { color: #ff0000; font-weight: bold }
/* NameFunction */ .chroma .s7d9 { color: #0066bb; font-weight: bold }
/* NameLabel */ .chroma .s7dc { color: #997700; font-weight: bold }
/* NameNamespace */ .chroma .s7dd { color: #0e84b5; font-weight: bold }
/* NameTag */ .chroma .s7e2 { color: #007700 }
/* NameVariable */ .chroma .s7e3 { color: #996633 }
/* NameVariableClass */ .chroma .s7e5 { color: #336699 }
/* NameVariableGlobal */ .chroma .s7e6 { color: #dd7700; font-weight: bold }
/* NameVariableInstance */ .chroma .s7e7 { color: #3333bb }
/* LiteralString */ .chroma .sc1c { background-color: #fff0f0 }
/* LiteralStringChar */ .chroma .sc21 { color: #0044dd; background-color: #fff0f0 }
/* LiteralStringDoc */ .chroma .sc23 { color: #dd4422; background-color: #fff0f0 }
/* LiteralStringEscape */ .chroma .sc25 { color: #666666; background-color: #fff0f0; font-weight: bold }
/* LiteralStringInterpol */ .chroma .sc27 { background-color: #eeeeee }
/* LiteralStringOther */ .chroma .sc29 { color: #dd2200; background-color: #fff0f0 }
/* LiteralStringRegex */ .chroma .sc2a { color: #000000; background-color: #fff0ff }
/* LiteralStringSymbol */ .chroma .sc2c { color: #aa6600; background-color: #fff0f0 }
/* LiteralNumber */ .chroma .sc80 { color: #6600ee; font-weight: bold }
/* LiteralNumberFloat */ .chroma .sc82 { color: #6600ee; font-weight: bold }
/* LiteralNumberHex */ .chroma .sc83 { color: #005588; font-weight: bold }
/* LiteralNumberInteger */ .chroma .sc84 { color: #0000dd; font-weight: bold }
/* LiteralNumberOct */ .chroma .sc86 { color: #4400ee; font-weight: bold }
/* Operator */ .chroma .sfa0 { color: #333333 }
/* OperatorWord */ .chroma .sfa1 { color: #000000; font-weight: bold }
/* Comment */ .chroma .s1770 { color: #888888 }
/* CommentSpecial */ .chroma .s1774 { color: #cc0000; font-weight: bold }
/* CommentPreproc */ .chroma .s17d4 { color: #557799 }
/* GenericDeleted */ .chroma .s1b59 { color: #a00000 }
/* GenericEmph */ .chroma .s1b5a { font-style: italic }
/* GenericError */ .chroma .s1b5b { color: #ff0000 }
/* GenericHeading */ .chroma .s1b5c { color: #000080; font-weight: bold }
/* GenericInserted */ .chroma .s1b5d { color: #00a000 }
/* GenericOutput */ .chroma .s1b5e { color: #888888 }
/* GenericPrompt */ .chroma .s1b5f { color: #c65d09; font-weight: bold }
/* GenericStrong */ .chroma .s1b60 { font-weight: bold }
/* GenericSubheading */ .chroma .s1b61 { color: #800080; font-weight: bold }
/* GenericTraceback */ .chroma .s1b62 { color: #0044dd }
/* TextWhitespace */ .chroma .s1f41 { color: #bbbbbb }