<footer>
  <div class="footer-content">
    <div class="column">
      <h3>We are Codemate</h3>
      <p>Codemate is an international software development company from Finland that specializes in developing web services, mobile applications and IoT systems as a service.</p>
    </div>
    
    <div class="column">
      <h3>Codemate Oulu</h3>
      <p>Kasarmintie 21<br />90130 Oulu<br />Finland</p>

      <h3>Codemate Helsinki</h3>
      <p>Kaisaniemenkatu 1 Ba, 5th floor<br />00100 Helsinki<br />Finland</p>
    </div>
    
    <div class="column">
      <h3>Codemate Dhaka</h3>
      <p>House #23, Road#113/A<br />Gulshan-2, Dhaka 1212<br />Bangladesh</p>

      <h3>Codemate Bangkok</h3>
      <p>Forum Tower 184/3 - 5th Floor,<br />Ratchadapisek Rd, Huai Khwang<br />Bangkok 10310, Thailand</p>
    </div>
    
    <div class="column">
      <h3>Follow us</h3>
      
      <ul class="social-buttons">
        <li><a class="icon facebook" href="http://www.facebook.com/CodemateLTD"><span class="glyph">&#xf09a;</span> <span class="hidden">Follow on Facebook</span></a></li>
        <li><a class="icon twitter" href="http://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=CodemateLTD"><span class="glyph">&#xf099;</span> <span class="hidden">Follow on Twitter</span></a></li>
        <li><a class="icon linkedin" href="http://www.linkedin.com/company/343999"><span class="glyph">&#xf0e1;</span> <span class="hidden">Follow on LinkedIn</span></a></li>
      </ul>

      <div class="fb-page" data-href="https://www.facebook.com/codemateLTD" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
        <div class="fb-xfbml-parse-ignore"></div>
      </div>
    </div>
  </div>
</footer>


<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, "script", "facebook-jssdk"));</script>

</body>
</html>
